p
{
	color: blue;
}

h1, em
{
	color: blue;
}

body
{
	background-image: url("tad_et_matt_mini.jpg");
	background-position: 0px 0px;
	background-size: 1400px ;
}

mark
{

background-color: red;
color: black;
	
}