h1
{
    color : Black
}

h2
{
    color:  grey;
}

h3 
{
 color: blue;
}

body{

    background-color: blanchedalmond;
}

a{
        color: black;
        font-weight: bold;   
        text-decoration:none; 
}