#conteneur
{

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.element:nth-child(1)
{
	background-color: blue;
}

.element:nth-child(2)
{
	background-color: white;
}

.element:nth-child(3)
{
	background-color: red;
}